<ul class="nav navbar-nav">
    <li>
        <a routerLink="/layout/accueil" class="navbar-btn-container nav-link active">
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
            <span class="navbar-btn-text">Accueil</span>
        </a>
    </li>
    <li>
        <ul class="list-group text-center leMenu">
            <li class="list-group-item" routerLinkActive="active">
              <a  routerLink="/layout/sinaps-entrant">
                Activité par type
                <i class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></i>
             </a>
            </li>
            <li class="list-group-item" routerLinkActive="active">
               <a  routerLink="/layout/sinaps-sortant">
                 Activité par Utilisateur
                <i class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></i>
               </a>
            </li>
        </ul>
    </li>
   

</ul>